/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
  font-size: 10px;
  margin: 0 auto;
  font-family: 'Lora', serif;
  font-weight: 700;
}

a {
  text-decoration: none;
}

/******************************************
/* LAYOUT
/*******************************************/


/******** NAVBAR  ********/

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav li {
  display: inline-block;
  list-style: none;
  padding: 2% 5%;
}

nav a {
  color: black;
}

nav a:hover {
  color: #ce0031;
}

.fa-bars {
  display: none;
}

/* MAIN  */

main {
  background: url('https://images.unsplash.com/photo-1481824429379-07aa5e5b0739?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1896&q=80') 100% 40% no-repeat;
  background-size: cover;
  color: white;
  padding-bottom: 1.5%;
}

main > div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5% 10%;
}

main h1 span {
  display: block;
  font-size: 6rem;
  font-weight: 400;
}

main p {
  font-size: 2.2rem;
  font-weight: 400;
  padding-bottom: 2%;
}

main a {
  font-size: 1.3rem;
  background: black;
  color: white;
  padding: 12px 23px;
}

main > div > section > a:hover {
  background: white;
  color: black;
}

/* right */

main > div section + section {
  transform: rotate(90deg) translate(50%, -38%);
}

main>div section+section span {
  display: block;
  font-size: 2rem;
}

/* bottom */

div + section {
  background: black;
  /* margin-right: 1000px; */
  margin-left: 17.5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5% 2% 1.5% 0;
  width: 15%;
}

div+section a {
  background: white;
  color: black;
  margin-left: 11%;
}

div+section a:hover {
  background: #ce0031;
  color: white;
}

div+section h3 {
  border-left: 3px solid white;
  padding: 22px;
}

div+section span {
  font-size: 3rem;
  font-weight: 700;
}

div+section h2 {
  padding: 0 5% 10% 5%;
  margin: 0;
  margin-left: 11%;
  line-height: 30px;
  font-weight: 400;
}

/* ARROWS */

main div + section + section {
  text-align: end;
  padding-right: 5%;
}

.arrow {
  font-size: 1.4rem;
  padding: 0.7%;
  background: white;
  color: black;
  border-radius: 100px;
}

/* SECOND SECTION */

main + div {
  display: flex;
  align-items: center;
  padding: 4%;
}

main+div section {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 0 5%;
  line-height: 22px;
}

main+div section h4 {
  font-size: 2rem;
}

/* THIRD SECTION */

div + div {
  background: #f3f4f6;
  display: flex;
  align-items: center;
  padding: 2% 5%;
}

div+div p {
  font-size: 1.4rem;
  font-weight: 400;
  /* padding-right: 10%; */
  line-height: 22px;
  padding-bottom: 4%;
}

div > section > h1 {
  font-size: 4.5rem;
}

div>section>a {
  font-size: 1.2rem;
  background: black;
  color: white;
  padding: 14px 30px;
}

div>section>a:hover {
  background: #ce0031;
}

div+div > section + img {
  padding: 0 3%;
  width: 50%;
}

/* FOURTH SECTION */

div + div + div {
  background: white;
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
}

div+div+div section {
  padding: 0 3.8%;
  text-align: center;
}

div+div+div span {
  display: block;
  font-size: 1.4rem;
  padding-bottom: 2%;
}

div+div+div span + span {
  font-size: 1rem;
  font-weight: 400;
}

div+div+div section div {
  background: black;
  color: white;
  width: 210px;
  padding: 5% 10%;
  margin: -12.5% auto;
  position: relative;
}

/* FIFTH SECTION */

div+div+div+section {
  background: url('https://images.unsplash.com/photo-1616105950717-8102cc4afbd7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80') 50% 30% no-repeat;
  background-size: cover;
  padding: 4% 6%;
  width: 60%;
  margin: 2% auto;
  display: flex;
  align-items: flex-start;
}

div+div+div+section > span {
  font-size: 1.4rem;
  padding-bottom: 1%;
  color: white;
}
div+div+div+section > h2 {
  padding: 0;
  margin: 0;
  text-align: start;
  font-size: 3rem;
  font-weight: 400;
  padding: 2% 0;
}

div+div+div+section > h2 > span:first-child {
  font-weight: 700;
  font-size: 3.7rem;
  padding-bottom: 1%;
  color: #ce0031;
}

div+div+div+section>h2>span+span {
  display: block;
  padding-top: 4%;
  padding-bottom: 5%;
  font-weight: 400;
}

div+div+div+section a {
  font-size: 1.3rem;
  background: black;
  color: white;
  padding: 15px 34px;
  margin: 0;
}

/* LAST SECTION */

div+div+div+section+div {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  text-align: center;
  padding-bottom: 2.5%;
}

div+div+div+section+div > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

div+div+div+section+div>div section {
  flex-basis: 270px;
}

div+div+div+section+div>div section img {
  padding-bottom: 5%;
}

div+div+div+section+div>div section img:hover {
  opacity: 0.7;
}

div+div+div+section+div > section > h2 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 1%;
}

hr {
  width: 1.5%;
  border: 2px solid black;
  border-radius: 1.5px;
  margin-bottom: 2%;
}

.first div, .second div, .third div {
  margin: 7% 4%;
}

.long {
  height: 530px;
  width: auto;
}

.short {
  height: 250px;
  width: auto;
}

.one {
  background: url('https://images.unsplash.com/photo-1556229165-8aa0ceaa93a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2087&q=80') 67% 100% no-repeat;
  background-size: cover;
}

.two {
  background: url('https://images.unsplash.com/photo-1538356023795-f21b3f3bda50?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=787&q=80') 52% 100% no-repeat;
  background-size: cover;
}

.three {
  background: url('https://images.unsplash.com/photo-1512384714738-48bc147e56a5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1922&q=80') 31% 100% no-repeat;
  background-size: cover;
}

.four {
  background: url('https://images.unsplash.com/photo-1526510747491-58f928ec870f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80') 100% 76% no-repeat;
  background-size: cover;
}

.five {
  background: url('https://images.unsplash.com/photo-1618481212093-a0286ef0cc95?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80') no-repeat;
  background-size: cover;
}

.six {
  background: url('https://images.unsplash.com/photo-1522512115668-c09775d6f424?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80') 45% 100% no-repeat;
  background-size: cover;
}

/* FOOTER */

footer {
  padding: 1.5%;
  background: black;
  color: white;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* MEDIA QUERIES */

@media all and (max-width: 1415px) {
  /* main screen */
  /* right */
  /* main>div section+section span {
    font-size: 3rem;
  } */
  /* bottom */
  main > div+section {
    width: 30%;
    margin-left: 35%;
  }
  /* THIRD SECTION */
  div + div {
    padding-bottom: 3.5%;
  }
}

@media all and (max-width: 1050px) {
  /* NAVBAR  */
  nav div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 15%;
  }
  .fa-bars {
    display: block;
    padding-left: 10%;
  }
  nav div a {
    width: 100%;
  }
  nav {
    justify-content: space-evenly;
  }
  nav ul > li {
    display: none;
  }
  nav ul {
    padding: 0;
    margin: 1.4%;
    margin-left: 8%;
  }
  nav ul>li:nth-last-child(2), nav ul>li:last-child {
    display: block;
  }

  nav ul>li:nth-last-child(2) {
    padding-right: 60%;
    margin-left: 100%;
  }

    nav ul>li:last-child {
      padding-left: 60%;
    }

  /* MAIN */
  main>div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 0;
  }
  main>div>section {
    padding-bottom: 5%;
  }
  main > div > section> a {
    padding-right: 45px;
    padding-left: 45px;
  }
  /* right */
  main>div section+section {
    transform: none;
    /* padding-top: 5%; */
  }
  /* SECOND SECTION */
  main + div {
    flex-direction: column;
    font-size: 5.5rem;
  }
  main+div h4 {
    margin: 0;
    padding-top: 3%;
  }
  main+div p {
    padding: 0 15%;
  }

  /* THIRD SECTION */
  main+div + div {
    flex-direction: column;
    text-align: center;
  }
    main+div+div img {
      padding-top: 5%;
      padding-bottom: 3%;
    }

  /* FOURTH SECTION */
  div+div+div {
    flex-direction: column;
  }

  div+div+div section {
    padding: 5%;
  }
  /* LAST SECTION */
  div+div+div+section+div>div section img {
    width: 90%;
  }
  /* ARROWS */
  main div+section+section {
    text-align: center;
    padding: 0;
    padding-top: 1.2%;
  }
}